html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

/*The box around the form*/
.container {
  border-radius: 30px;
  width: 450px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 123px -54px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 123px -54px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 123px -54px rgba(0, 0, 0, 0.75);
}

/*title sign in*/
.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  padding: 25px 20px 0;
  margin: 0;
}

/*The div aon the form to give padding to inputs*/
.sign-in {
  padding: 25px 25px 0;
  margin: 20px 20px 0;
  border-radius: 3px;
}

/*Gives inputs a bottom border*/
.form-input {
  border-bottom: solid;
}
/*Styling for inputs*/
input {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  border: 0;
  font-size: 1.1em;
  border-radius: 0.25rem;
  padding: 1rem;
  color: #3a3f44;
}

/* When in focus on input no outline*/
input:focus {
  outline-width: 0;
}

.forms {
  display: flex;
  margin-bottom: 2rem;
}

.text--center {
  text-align: center;
}

.submit {
  background-color: #83c9f4;
  border-radius: 30px;
}

/* Line 74 to 116 for rainbow border*/
.container {
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.container:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*-------------*/



/* Line 120 to 270 for hover Log in animation */
.button {
  width: 200px;
  margin: 15% auto;
  position: relative;
  border: solid 2px #6495ED;
  height: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button:hover .hoverBtn:before,
.button:hover .hoverBtn:after {
  opacity: 1;
  -webkit-animation: open 0.4s;
  /* Chrome, Safari, Opera */
  animation: open 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}
.button:hover .hoverBtn-bottom:before,
.button:hover .hoverBtn-bottom:after {
  opacity: 1;
  -webkit-animation: openB 0.4s;
  animation: openB 0.4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}
.button p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  line-height: 55px;
}
.hoverBtn {
  width: 100%;
  height: 55px;
  position: absolute;
  top: -1px;
}
.hoverBtn:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  border-top: solid 2px black;
  border-left: solid 2px black;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 100px;
}
.hoverBtn:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  border-top: solid 2px black;
  border-right: solid 2px black;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 100px;
}
.hoverBtn-bottom {
  width: 100%;
  height: 55px;
  position: absolute;
}
.hoverBtn-bottom:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  height: 55px;
  border-bottom: solid 2px black;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 0;
}
.hoverBtn-bottom:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  display: block;
  opacity: 0;
  height: 55px;
  border-bottom: solid 2px black;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  left: 0;
}
p.credits {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #888;
  font-size: 16px;
}
@keyframes open {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 100px;
    height: 0;
  }
  100% {
    width: 100px;
    height: 55px;
  }
}
@keyframes openB {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}
/* ---------------------- */